body{
    text-align: center; 
    background-image: url(images/background.jpeg);
    background-color: #3e65a3;
    background-size: cover;
  background-repeat: no-repeat;
  
}
    
h1 {
font-family: helvetica;
font-size: 35px;
color: white;
}

a {
    font-family: helvetica;
    font-size: medium;
    color: white;  
    font-weight: bold; 
}

h2 {
    font-family: helvetica;
    font-size: medium;
    color: white;
}

p {
    font-family: serif;
    font-size: 21px;
    color: white;
}

ul {
    font-family: helvetica;
    font-size: medium;
    color: white;
}

ol {
    font-family: helvetica;
    font-size: medium;
    color: white;
    width: 285px;
    
}
li {
    font-family: helvetica;
    font-size: 20px;
    color: white;
}

.title {
    
    text-align: center;
}

.menu {
    background-color: rgb(44, 44, 44);
    text-align: center;
    padding: 1px 5px 5px 5px;
}

.food {

}

.list {
    text-align: left; 
   padding: 50px 50px 50px 50px;
   border: 3px solid white;
   margin: 51px auto 50px auto;
    box-sizing: content-box;
    width: 300px;
    
}

.about-me {
    text-align: center; 
    padding: 50px 50px 50px 50px;
    border: 3px solid white;
    margin: 51px auto 50px auto;
     box-sizing: content-box;
     width: 300px;
}

